section#about.resume-section
    .resume-section-content
        h1.mb-0
            | Jujjavarapu 
            span.text-primary Harish
        .subheading.mb-5
            | 44 Simeon Howard way · Westborough, MA 01581 · 
            a(href='mailto:hari.jujjavarapu@gmail.com') hari.jujjavarapu@gmail.com
        p.lead.mb-5
            | I am an experienced software professional in leveraging available frameworks to provide a robust solutions for high level challenges.
            | Also plays some important roles like Epicure, Astrophile, Chionophile, Photophile, and Boffine on my other part of the life.
            
        .social-icons
            a.social-icon(href='https://www.linkedin.com/in/hari-007' target='_blank')
                i.fab.fa-linkedin-in
            a.social-icon(href='https://github.com/hari-007' target='_blank')
                i.fab.fa-github
            a.social-icon(href='https://www.facebook.com/hari.00000007' target='_blank')
                i.fab.fa-facebook-f
            a.social-icon(href='assets/docs/hari-resume-2021.pdf' target='_blank')
                i.far.fa-file-pdf
            