section#certificates.resume-section
    .resume-section-content
        h2.mb-5 Certifications & others
        ul.fa-ul.mb-0
            li
                span.fa-li
                    i.fas.fa-award.text-success
                | MITx 6.00.1 Computer Science and Programming using Python in EDX (May 2018)
            li
                span.fa-li
                    i.fas.fa-trophy.text-warning
                | Certificate of Excellence from S.V.P of Atos Cloud for immense contributions to multiple teams (2017)
            li
                span.fa-li
                    i.fas.fa-trophy.text-warning
                | Oracle certifications Java SE programmer (1Z0-803) - (Sept. 2015)
            li
                span.fa-li
                    i.fas.fa-trophy.text-warning
                | Oracle database SQL Fundamentals (1Z0-803) - (Sept. 2015)
            li
                span.fa-li
                    i.fas.fa-trophy.text-warning
                | Microsoft .NET Fundamentals (98-372) - (Sept. 2013)
            li
                span.fa-li
                    i.fas.fa-trophy.text-warning
                | 1
                sup st 
                | - 1-hour code challenge certificate from code.org