section#education.resume-section
    .resume-section-content
        h2.mb-5 Education
        
        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
                h3.mb-0 Western Illinois University
                .subheading.mb-3 Masters in Computer Science
                p.fw-bold GPA: 3.71
                span.fw-bold Graduate Course work:
                div 
                    | Operating Systems, Computer Network, Database Systems, Artificial Intelligence Methods,
                    | Computer Architecture, Computer Graphics, Intensive Programming, 
                    | and Advanced Operating Systems.

            .flex-shrink-0
                span.text-primary Fall 2017 – Spring 2019
                
        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
                h3.mb-0 NRI Institute of Technology
                .subheading.mb-3 Bachelor of Technology in Computer Science
                h5.mb-0 Affiliated by JNTU University Kakinda, India
                p Percentage: 65%
            .flex-shrink-0
                span.text-primary Fall 2011 - Spring 2015
