section#experience.resume-section
    .resume-section-content
        h2.mb-5 Experience

        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
                h3.mb-0 Software Engineer II
                .subheading.mb-3 Staples    
                ul
                    li
                        | Lead SPA migration with Next JS framework for all (15) front-end apps to achieve overall site improvement by 55%.
                    li
                        | Initiated and implemented standard caching service to reduce 400ms of site load by reduced 40% API requests.
                    li 
                        | Also, implemented common functionality solutions like graceful shutdown, timeouts and error handlings, standard logging framework,
                        | session, and API management to improve SRE monitoring and deployments of the whole front-end layer.
                    li
                        | Provided config functionality for request-response interceptors, logger, and release features toggle management.
                    li
                        | Created POC and action plan for containerization migration and assisted auto-scaling implementation in Azure VMSS.
                    li  
                        | Actively supporting architectural decisions and being the point of contact for all critical problem solving for the whole front-end layer
            .flex-shrink-0
                span.text-primary July 2019 - Present

        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
                h3.mb-0 Software Engineer Intern
                .subheading.mb-3 Staples
                ul 
                    li
                        | Created a common NodeJS client library template with typescript, unit tests, docs, linting, and code coverage.
                    li
                        | Drafted technical documents for client library integration and context management with session service to reduce redundant Auth & Core services traffic by collaborating with architects. And provided documented optimization steps for redundant libraries to reduce 30% build time and 18% run time memory usage of all exited front-end apps.
                    li
                        | Assisted Staples 2.0 brand transformation by supporting all the release activity through multiple teams.
            .flex-shrink-0
                span.text-primary January - May 2019

        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
                h3.mb-0 Graduate Assistant - Apprenticeship
                .subheading.mb-3 Western Illinois University
                ul
                    li
                        | Created offline sync supported iPad apps using Ionic to collect student’s information by the academic advisors.
                    li  
                        | Developed iPhone and Android mobile apps for university, text (SMS), and mailing services to university applications.
                        | with SMS Eagle modem from the Center for Innovation in Teaching and Research department.
                    li  
                        | Responsible for Git approached local development and production release environment migration from legacy.
                    li  
                        | Also, Developed various PHP-based microservice solutions using MYSQL, MSSQL, Google Cloud API services.
            .flex-shrink-0
                span.text-primary January - December 2018

        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
                h3.mb-0 Software Engineer II
                .subheading.mb-3 AtoS Corporation
                ul
                    li
                        | Implemented canopy service broker Java client for the products templates generation to deploy in Canopy Cloud Foundry and Canopy Compose through the on-demand PaaS portal of CEP.
                    li
                        | Developed Atos Compose Rancher Client for the Canopy cloud products deployment through the Rancher portal.
                    li
                        | Created Atos Canopy user dashboard portal with Angular & PHP for CEP using 12-factor cloud best practices also involved in other project areas for expert guidance.
                    li
                        | Technologies include AWS, Azure, VMWare, Apache Amp, Cloud Foundry, RedHat.
                    li
                        | Present few workshops on Javascript, web apps, cloud apps, and developer daily development best practices.
            .flex-shrink-0
                span.text-primary June 2015 - June 2017

        .d-flex.flex-column.flex-md-row.justify-content-between
            .flex-grow-1
                h3.mb-0 Academic Project Intern
                .subheading.mb-3 South central Indian Railways
                p
                    | Created Compassionate ground job application dashboard and auto letter generation for Indian South-Central Railways to support victims of Indian railway employees.

            .flex-shrink-0
                span.text-primary January - April 2015