section#projects.resume-section
    .resume-section-content
        h2.mb-5 Projects & Others
            h3
            .subheading.mb-3 Academic Projects
            ul 
                li 
                    span Created a secure AWS Elastic Compute Cloud (EC2) Manager mobile app using Ionic and AWS Stack (API Gateway, Cognito, EC2, Lambda).
                li
                    span Fully and Set associative cache simulation with circular linked list in C language.
                li  
                    span Created funtional custom shell using OS POSIX services by C language.
                li 
                    span Housing price estimation using Java ML by linear regression model.
            
            h3
            .subheading.mb-3 Academic Projects
            ul 
                li 
                    span.fw-bold Chat-Assist Bot + Portal (2021). 
                    span With AWS stack, Angular, and NodeJS for incident creation and management project.
                li
                    span Provided 
                    span.fw-bold Android app frameworks (2020). 
                    span Baseline app for order delivery, invoices, and billing status management.
                li  
                    span.fw-bold Wealth Node hybrid mobile app (2019.) 
                    span Live stocks & options management with Tradier brokerage account APIs.
                li 
                    span Created 
                    span.fw-bold Cognitive Cloud App 
                    span for restaurant ordering services using AWS stack for Google Home and Alexa devices.

          
