section#skills.resume-section
    .resume-section-content
        h2.mb-5 Skills
        .subheading.mb-3 Programming Languages

        ul.list-inline.dev-icons.text-success
            li.list-inline-item
                i.fab.fa-js-square
            li.list-inline-item
                i.fab.fa-python
            li.list-inline-item
                i.fw-bold C
            li.list-inline-item
                i.fab.fa-java
            li.list-inline-item
                i.fw-bold C++
            li.list-inline-item
                i.fab.fa-php
            li.list-inline-item
                i.fab.fa-html5
            li.list-inline-item
                i.fab.fa-css3
            li.list-inline-item
                i.fw-bold SQL
            li.list-inline-item
                i.fw-bold NoSQL
            li.list-inline-item
                i.fw-bold Kotlin
            li.list-inline-item
                i.fas.fa-terminal
        
        .subheading.mb-3 Frameworks
        ul.list-inline.dev-icons.text-success
            li.list-inline-item
                i.fab.fa-angular
            li.list-inline-item
                i.fab.fa-react
            li.list-inline-item
                i.fab.fa-node-js
            li.list-inline-item
                i.fw-bold Ionic
            li.list-inline-item
                i.fas.fa-leaf
            li.list-inline-item
                i.fab.fa-sass
            li.list-inline-item
                i.fw-bold ReactiveX
            

        .subheading.mb-3 Technologies & Tools
        ul.list-inline.dev-icons.text-success
            li.list-inline-item
                i.fab.fa-android
            li.list-inline-item
                i.fab.fa-git
            li.list-inline-item
                i.fab.fa-docker
            li.list-inline-item
                i.fw-bold Webpack
            li.list-inline-item
                i.fab.fa-gulp
            li.list-inline-item
                i.fab.fa-grunt
            li.list-inline-item
                i.fab.fa-npm            
            li.list-inline-item
                i.fab.fa-wordpress
            li.list-inline-item
                i.fab.fa-aws
            li.list-inline-item
                i.fw-bold Azure
            li.list-inline-item
                i.fw-bold GCP
            li.list-inline-item
                i.fw-bold Neflix-OSS
            li.list-inline-item
                i.fw-bold Splunk
            li.list-inline-item
                i.fw-bold Web
            li.list-inline-item
                i.fw-bold Rest API