// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$orange: #bd5d38;

$medium-green: #228B22;

// Override Bootstrap default state colors
$primary: $medium-green;
